footer {
    background: #ccc;
    padding: 10px 0;
    text-align: center;
}

header {
    margin-bottom: 10px;
}

footer {
    margin-top: 10px;
}

#account-overview-container.affix {
    position: fixed;
    top: 10px;
}

.affix-top {
    position: static;
}

.affix-bottom {
    position: absolute;
    bottom: auto !important;
}

footer {
    padding: 10px 0;
}

    footer h1 {
        margin-top: 0;
    }

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}