<section>
    <div class="container">
        <div class="page-header">
            <h1>About</h1>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <p>
                    This project is built out of the spirit of Micro Services.  Centralize your application connection strings and external endpoints in one place, which allows modification of any connection string/external endpoint a breeze.
                </p>
                <br/>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <br />

                <p>
                    For example, lets say you have an application that uses Amazon S3, and a Solr Index on a remote server. Your application is a production application so most likely you also have some development environments. DEV, QA, UAT, and PROD. Your application also uses 2 services that operate outside the main application. If you or anyone on your team wanted to modify a connection string, they would need to change it in 3 applications per environment, totalling 12 places.
                </p>
                <br />

            </div>
        </div>
        <div class="row">
            <div class="col-md-12 col-lg-12 col-sm-12">
                <br />

                <p>
                    A better approach to this problem is to use Micro Services and centralize your connection strings/external endpoints. If the application used a centralized connection string/external endpoint approach as this application intends, instead of modifying the connection string in 12 places (once per applcation, per environment), the developer only needs to modify the connection string in 4 places, one for each environment.
                </p>
            </div>
        </div>
    </div>
</section>