<section class="main-container">
    <div class="jumbotron center-hard">
        <h1>Add Project</h1>
        <div>
            <div class="col-lg-offset-1 col-lg-2">
                <button type="button" class="btn btn-info" ng-click="goHome()"><i class="fa fa-chevron-left"></i>&nbsp;&nbsp;Go Home</button>
            </div>
        </div>
    </div>
    <section>
        <div class="well well-lg center-hard" style="width: 80%">
            <div class="row">
                <div class="col-lg-offset-4 col-lg-4">
                    <div class="form-group">

                        <label for="usr">Project Title:</label>
                        <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        <label for="usr">Project Owner:</label>
                        <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-offset-8 col-lg-2">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addEnvironemnt"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Environment</button>
                </div>
                <div class="col-lg-offset-3 col-lg-6">
                    <h3 class="pull-left">Environments</h3>

                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th>Environment Name</th>
                                <th>Load Balenced</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>DEV</td>
                                <td>False</td>
                                <td style="display: flex">
                                    <a id="btn-fblogin" ng-click="goBackToNootropic()" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                    <a id="btn-fblogin" data-toggle="modal" data-target="#editEnvironemnt" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <hr />
            <div class="row">
                <div class="col-lg-offset-8 col-lg-2">
                    <button type="button" class="btn btn-success" data-toggle="modal" data-target="#addMachine"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Machine</button>
                </div>
                <div class="col-lg-offset-3 col-lg-6">
                    <h3 class="pull-left">Machines</h3>
                    <table class="table table-condensed">
                        <thead>
                            <tr>
                                <th></th>
                                <th class="center-hard">Machine Name</th>
                                <th class="center-hard">Environment Name</th>
                                <th class="center-hard">Machine Ip Address</th>
                                <th class="center-hard">Connection Strings</th>
                                <th class="center-hard">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td class="center-hard">1.)</td>
                                <td class="center-hard">APP021312USA21</td>
                                <td class="center-hard">DEV</td>
                                <td class="center-hard">192.23.2.345</td>
                                <td class="center-hard">
                                    <table class="table table-striped">
                                        <thead>
                                            <tr>
                                                <th class="center-hard"> Name</th>
                                                <th class="center-hard">Value</th>
                                                <th class="center-hard">Actions</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>SOLR</td>
                                                <td>http://wwww.google.com/api</td>
                                                <td>
                                                    <a id="btn-fblogin" ng-click="goBackToNootropic()" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>SOLR</td>
                                                <td>http://wwww.google.com/api</td>
                                                <td>
                                                    <a id="btn-fblogin" ng-click="goBackToNootropic()" class="btn btn-danger"><i class="fa fa-times"></i></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td style="display: flex">
                                    <a id="btn-fblogin"  class="btn btn-danger"><i class="fa fa-times"></i></a>
                                    <a id="btn-fblogin" data-toggle="modal" data-target="#editMachine" class="btn btn-info"><i class="fa fa-pencil"></i></a>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12 col-sm-12 col-lg-sm">
                    <div style="border: 2px dotted black"></div>
                    <div style="margin-top: 5px" class="form-group pull-right">
                        <!-- Button -->
                        <div class="controls">
                            <a id="btn-login" ng-click="addNewNootropicReview()" class="btn btn-success"><i class="fa fa-save"></i>&nbsp;Save Project</a>
                            <a id="btn-fblogin" ng-click="goBackToNootropic()" class="btn btn-danger"><i class="fa fa-times"></i>&nbsp;Cancel</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</section>

<!-- Add Environemnt -->
<div class="modal fade" id="addEnvironemnt" tabindex="-1" role="dialog" aria-labelledby="addEnvironemnt">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Environment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class=" col-lg-3">
                        <div class="form-group">

                            <label for="usr">Environment Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Load Balenced:</label>
                            <label><input type="checkbox" value=""></label>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
            </div>
        </div>
    </div>
</div>

<!-- Edit Environemnt -->
<div class="modal fade" id="editEnvironemnt" tabindex="-1" role="dialog" aria-labelledby="editEnvironemnt">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Environment</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class=" col-lg-3">
                        <div class="form-group">

                            <label for="usr">Environment Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Load Balenced:</label>
                            <input type="checkbox" value="">
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            </div>
        </div>
    </div>
</div>

<!-- Add Machine -->
<div class="modal fade" id="addMachine" tabindex="-1" role="dialog" aria-labelledby="addMachine">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Add Machine</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class=" col-lg-3">
                        <div class="form-group">

                            <label for="usr">Machine Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Ip Address:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Envornment:</label>
                            <multiselect ng-model="selection" options="options">
                            </multiselect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4>Connection Strings</h4>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Value:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-lg-8">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Name</th>
                                <th>Value</th>
                                <th></th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr>
                                <td>SOLR</td>
                                <td>http://www.google.com/api</td>
                                <td><a id="btn-fblogin" class="btn btn-danger"><i class="fa fa-times"></i></a>
</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            </div>
        </div>
    </div>
</div>


<!-- Add Machine -->
<div class="modal fade" id="editMachine" tabindex="-1" role="dialog" aria-labelledby="editMachine">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="myModalLabel">Edit Machine</h4>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class=" col-lg-3"></div>
                    <div class=" col-lg-3">
                        <div class="form-group">

                            <label for="usr">Machine Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Ip Address:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Envornment:</label>
                            <multiselect ng-model="selection" options="options">
                            </multiselect>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <h4>Connection Strings</h4>
                </div>
                <div class="row">
                    <div class="col-lg-3"></div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Name:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <div class="form-group">
                            <label for="usr">Value:</label>
                            <input type="text" class="form-control" id="usr" ng-model="nootropicReview.reviewTitle">
                        </div>
                    </div>
                    <div class="col-lg-3">
                        <button type="button" class="btn btn-primary"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add</button>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2"></div>
                    <div class="col-lg-8">
                        <table class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Name</th>
                                    <th>Value</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>SOLR</td>
                                    <td>http://www.google.com/api</td>
                                    <td><a id="btn-fblogin" class="btn btn-danger"><i class="fa fa-times"></i></a>
</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="col-md-2"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-primary"><i class="fa fa-save"></i>&nbsp;&nbsp;Save</button>
            </div>
        </div>
    </div>
</div>