<div class="row">
    <!-- Skills Grid Section -->
    <section id="skills">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>All Projects</h2>

                    <hr class="star-primary">
                </div>
            </div>
            <div class="btn btn-lg pull-right btn-primary" type="button" ng-click="addProject()"><i class="fa fa-plus"></i>&nbsp;Add Project</div>

            <div class="row port-center">
                <div class="container">

                    <table class="table table-striped" style="margin-top: 25px">
                        <thead>
                            <tr>
                                <th class="port-center">Project Name</th>
                                <th class="port-center">Project Owner</th>
                                <th class="port-center">Environment List</th>

                                <th class="port-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr ng-show="projects.length>=1" dir-paginate="project in projects |itemsPerPage:10 track by $index">
                                <td class="port-center">{{project.ProjectName}}</td>
                                <td class="port-center">{{project.ProjectOwner}}</td>
                                <td class="port-center">
                                    <div ng-repeat="env in project.Environments track by $index">
                                        <span>{{env.EnvironmentName}}<span ng-if="!$last">, </span></span>
                                    </div>
                                </td>
                                <td>
                                    <ul style="list-style: none; display: inline-flex">
                                        <li style="margin-right: 5px;"><span class="btn btn-sm btn-success" ng-click="viewProject(project.ProjectId)"><i style="font-size: 14px" class="fa fa-eye"></i></span></li>
                                        <li style="margin-right: 5px; margin-left: 5px;"><span class="btn btn-sm btn-warning" ng-click="editProject(project.ProjectId)"><i style="font-size: 14px" class="fa fa-pencil"></i></span></li>
                                        <li style="margin-left: 5px;"><span class="btn btn-sm btn-danger" ng-click="deleteProject(project.ProjectId)"><i style="font-size: 14px" class="fa fa-trash"></i></span></li>
                                    </ul>
                                </td>
                            </tr>
                            <tr ng-show="projects.length === 0">
                                <td colspan="8" class="port-center">
                                    <p>No Projects have been added</p>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="port-center">
                        <dir-pagination-controls max-size="10"
                                                 direction-links="true"
                                                 boundary-links="true">
                        </dir-pagination-controls>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>