<section class="main-container clearfix">
    <div class="jumbotron center-hard">
        <h1>Projects</h1>
        <section>

            <div class="col-lg-offset-4 col-lg-4">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search for...">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="button">Go!</button>
                    </span>
                </div><!-- /input-group -->
            </div><!-- /.col-lg-6 -->
            <div class="col-lg-offset-1 col-lg-2">
                <button type="button" class="btn btn-success" ng-click="addProject()"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add Project</button>
            </div>
        </section>
    </div>

    <section class="well well-lg center-hard project-area">
        <div>
            <!--<div class="row card-area">
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
                <div class="thumbnail con-card grid-item">
                    <img src="http://placehold.it/320x125/EEE" class="">
                    <div class="caption">
                        <h4 class="">Application</h4>

                        <p class="">
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                            culpa itaque odio similique suscipit
                        </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                    </div>
                </div>
            </div>-->

            <ul class="grid-ul">
                <li class="grid-li">
                    <div class="thumbnail con-card">
                        <div class="caption">
                            <div style="display: inline-flex">
                                <button type="button" class="btn-info card-button">Edit </button>

                                <h3 class="" style="padding-left: 15px; padding-right: 15px;"><a ng-click="viewProject()">Mechs</a></h3>
                                <button type="button" class="btn-danger card-button">Delete </button>
                            </div>


                            <table class="table table-condensed">
                                <thead>
                                <tr>
                                    <th>
                                        Environment Name
                                    </th>
                                    <th>Connection Strings</th>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>UAT</td>
                                    <td><button class="btn-default" ng-click="toggleCollapseTracks()"><span><i class="fa fa-caret-up"></i>&nbsp;&nbsp;5</span></button></td>
                                </tr>

                                </tbody>
                            </table>

                            <div>
                                <table class="table table-condensed">
                                    <thead>
                                    <tr>
                                        <th class="center-hard">Connection String Name</th>
                                        <th class="center-hard">Value</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="center-hard"><span>Solr</span></td>
                                        <td class="center-hard">http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    <tr>
                                        <td><span>Solr</span></td>
                                        <td>http://www.google.com/api/</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>


                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
                <li class="grid-li">
                    <div class="thumbnail con-card grid-item">
                        <img src="http://placehold.it/320x125/EEE" class="">
                        <div class="caption">
                            <h4 class="">Application</h4>

                            <p class="">
                                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consectetur,
                                culpa itaque odio similique suscipit
                            </p> <a href="#" class="btn btn-default btn-xs pull-right" role="button"><i class="glyphicon glyphicon-edit"></i></a> <a href="#" class="btn btn-default btn-xs" role="button">More Info</a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </section>
</section>